NEXT_PUBLIC_FEATURE_PROJECTS=boolean
NEXT_PUBLIC_FEATURE_TASKS=boolean
NEXT_PUBLIC_FEATURE_SPRINTS=boolean
NEXT_PUBLIC_FEATURE_TEAM_SETTINGS=boolean

NEXT_PUBLIC_API_URL=http://адрес_бекенда:порт(по умолчанию localhost:3000)
