NEXT_PUBLIC_FEATURE_AUTH=boolean
NEXT_PUBLIC_DISABLE_AUTH=boolean
NEXT_PUBLIC_FEATURE_PROJECTS=boolean
NEXT_PUBLIC_FEATURE_TASKS=boolean
NEXT_PUBLIC_FEATURE_SPRINTS=boolean
NEXT_PUBLIC_FEATURE_TEAM_SETTINGS=boolean
