# PostgreSQL Database URL
# Формат: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL="postgresql://postgres:password@host:port/mydb?schema=public"

# Node Environment
NODE_ENV="development"
