# Конфигурация cookie
COOKIE_DOMAIN=домен_куки
COOKIES_TTL=время_жизни_куки

# Переменные среды для приложения API
JWT_SECRET=секретный_ключ_jwt
JWT_ACCESS_TOKEN_TTL=время_жизни_токена_доступа
JWT_REFRESH_TOKEN_TTL=время_жизни_токена_обновления

# URL Redis
REDIS_URL=redis://localhost:6379

# PostgreSQL Database URL
# Формат: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL="postgresql://postgres:password@host:port/mydb?schema=public"
DIRECT_URL="postgresql://postgres:password@host:port/mydb"

# Node Environment
NODE_ENV="development"
WEB_APP_URL=http://localhost:3001

# Mail configuration
RESEND_API_KEY=your_api_key
MAIL_FROM=noreply@example.com
MAIL_FROM_NAME=Tracker Task
